/* font-family: 'Abel', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Advent Pro', sans-serif;
*/
/* general */
body {
  background-image: url("../images/possiblebg4.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}




.card-image {
  float:left;
  margin-top: 70px;
  flex-flow: column;
}

.parallax-container {
  width:100% !important;
  height: 500px;
}

#drink{
margin-top: 0%;
}



#bioImage {
  height: 500px;
}



/* header */


.brand-logo {
position: relative !important;
}

nav {
  height: 100px;

}

#rightNav {
padding-top: 3%;
padding-right: 2%;;
font-family: 'Comfortaa', cursive;
}


#nameLogo {
  padding-top: 2%;
  padding-left: 8%;
  font-size: 40px;
  display: inline-block;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#logoHeading {
  height: 50px;
  width:50px;
}

/*About Me*/

h1 {
  padding-left: 8%;
  color: rgba(218, 82, 157, 0.897);
}



/* footer */

.fab {
  font-size: 30px;
}

footer {
  margin-top: 200px;
  margin-bottom: -50px;
  padding-bottom: 30px;
}



h3, h2 {
  font-family: 'Didact Gothic', sans-serif;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}


/* main */

#main-container {
  padding-top: 100px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

/* portfolio page */





.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
 

/* contact page */

#emailMe {
color: lightseagreen;
text-align: center;
font-size: 18px;
line-height: 30px;
font-family: 'Didact Gothic', sans-serif;
}

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
#submit {
  font-family: 'Didact Gothic', sans-serif;
}
#clear {
  font-family: 'Didact Gothic', sans-serif;
  height: 36px;
  padding-left: 2%;
  text-align: center;
}

#result {
  font-family: 'Raleway', sans-serif;
  color: #4aaaa5;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 17px;
}

/* Media Screen */

.sidenav-trigger {
  color:whitesmoke !important;
}

@media screen and (min-width : 100px) {
  header, main, footer {
    padding-left: 0;
    padding-right:5px;
  }

.main-container {
height: 700px;
}

footer {
  padding-bottom: 20px;
}
nav .nav-wrapper  {
    height: 160px;
    margin-bottom:5px;
  }
.card {
    margin-top: 40px;
    margin-left: 40px;
    width: 300px;
    height: 100px;
    margin-bottom:15px;
    float:left;
  }

h2 {
  flex-flow: wrap;
  line-height: 60px;
}

}

@media screen and (min-width : 900px) {
  .main-container {
    height: 450px;
  }
  
  .card {
    margin-top: 70px;
    flex-flow:column;
    width: 600px;
    height: 150px;
    margin-bottom:50px;
    margin-right: 200px;
    margin-left: 60px;
    float:right;
  }

  nav .nav-wrapper  {
    height: 120px;
    margin-bottom:5px;
  }

  
  }





